#arena {
   text-align: center;
   padding: 5px;
   width: 805px;
   height: 445px;

}

#copyright {
   margin-top: -35px;
   float: right;
   margin-right: 12px;
   padding: 2px;
   color: blue;
   text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
   font-size: 0.8em;
}

.explanation {
   color: #ff0;
   text-shadow: 1px 1px 1px rgba(0,0,0,1.0);
   display: inline;
   margin-top: 5px;
   padding-right: 5px;
   padding-left: 5px;
   padding-bottom: 2px;
}

#score {
   font-size: 40px;
   text-align: center;
   color: #ffa726 ;
   text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
}

#level{
	font-size: 20px;
	text-align: right;
	color: #ffa726;
	
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);

	
	z-index: 1;
}

#rings{
	font-size: 20px;
	text-align: left;
	color: #ffa726;
        position: absolute;
        margin-top: 3px;
	
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);

	
	z-index: 1;
}

#livesID{
	position: absolute;
	margin-top: -1em;
	z-index: 1;
	color: #ffa726;
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
	font-size: 20px;
	z-index: 1;
}


#lives{
	position: absolute;
	margin-top: -1em;
	margin-left: 1.8em;
	z-index: 1;
	color: #ffa726;
	text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
	font-size: 20px;
	z-index: 1;
}

         
#game-canvas {
   z-index: 1;
}

.row{
    position: absolute;
    margin-top: -206px;
    z-index: 1;
    
}

/*.but {
    float:left;
}*/

#turnLeft
{
   float: right;
   height:150px;
    width:150px;
    z-index: 3;
   opacity: 0;

}

#jump
{
    float: left;
   height:200px;
    width:200px;
    z-index: 2;
 opacity: 0;
}

#Gap
{
    height:200px;
    width:300px;
    z-index: 2;
    opacity: 0;
}

#turnRight
{
    float: right;
    height:150px;
    width:150px;
z-index: 2;
opacity: 0;
}

#instructions {
   height: 30px;
   margin-right: 8px;
   padding-top: 6px;
   padding-left: 25px;

   -webkit-transition: opacity 2s;
   -moz-transition: opacity 2s;
   -o-transition: opacity 2s;
   transition: opacity 2s;

   color: #ff0;
   font-size: 1.05em;
   opacity: 1.0;
}

.keys {
   color: blue;
   text-shadow: 1px 1px 1px rgba(255,255,0,1.0);
   background: rgba(0,0,0,0.1);
   border: thin solid rgba(0,0,0,0.20);
   border-radius: 5px;
   margin-left: 10px;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 5px;
   display: inline;
}

#sound-and-music {
   position: absolute;
   height: 30px;
   margin-right: 8px;
   padding-top: 6px;
   padding-left: 25px;
   color: #ff0;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
   background: rgba(0,0,0,0.1);
   border-radius: 5px;
   border: thin solid rgba(0,0,0,0.20);
   padding-top: 2px;
   padding-bottom: 2px;
   z-index: 1;

   -webkit-transition: opacity 2s;
   -moz-transition: opacity 2s;
   -o-transition: opacity 2s;
   transition: opacity 2s;

   font-size: 0.9em;
}

#wrapper {
   margin: 0 auto;
   margin-top: 20px;
   padding: 5px;
   width: 817px;
   height: 520px;
}

body
{
    background-color:  #42a5f5;
    color: white;
    margin: 0;
    padding: 0;
}


#fps {
   position: absolute;
   margin-top: -45px;
   margin-left: 12px;
   z-index: 1;
   color: #ffa726;
   text-shadow: 2px 2px 4px rgba(0,0,80,1.0);
   font-size: 20px;
}

#toast {
   position: absolute;
   margin-top: 120px;
   width: 820px;
   font-size: 40px;
   text-align: center;
   color: #ffa726;
   text-shadow: 2px 2px 4px rgb(0,0,0);

   -webkit-transition: opacity 0.5s;
   -moz-transition: opacity 0.5s;
   -o-transition: opacity 0.5s;
   transition: opacity 0.5s;

   z-index: 1;
   opacity: 0;
   display: none;
}

#load-link {
   color: #ffa726;
   text-decoration: none;
   cursor: pointer;
}

.checkbox-div {
   display: inline;
   margin-right: 20px;
   text-shadow: 1px 1px 1px blue;
}